.nav {
    background-color: #333;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}
li {
    list-style-type: none;
    margin: 0px 15px 0px 15px;
    padding: 0 auto;
    display: inline;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}
a {
    color: wheat;
}
body {
    background-color: gainsboro;
}
#IEM2020 {
    position: fixed;
    left: 0;
}