* {
    box-sizing: border-box;
}
.topnav {
    background-color: #0B0C10;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    white-space: nowrap;
    width: 100%;
}
li {
    list-style-type: none;
    margin: 0px 15px 0px 15px;
    padding: 0 auto;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    display: inline;
    overflow: hidden;
}
a {
    color: #45A29E;
    font-size: 20px;
    text-decoration: none;
}
body {
    background-color: #1f2833;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#IEM2020 {
    position: absolute;
    top: 80px;
    left: 0;
    border: 5px solid #45A29E;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.main {
    position: absolute;
    width: 55%;
    top: 100px;
    right: 80px;
    margin-left: auto;
    margin-right: auto;
}
p {
    color:  #45A29E;
}
#parent {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}
h1 {
    font-size: 30px; 
}